.about {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    margin-bottom: 20px;
}

.containerAbout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text h2 {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 2vw;
}

img {
    width: 50vw;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .containerAbout {
        flex-direction: column;
        justify-content: space-between;
    }
    .text{
        text-align: center;
    }

    .text h2 {
        font-size: 30px;
        font-weight: bolder;
        margin-bottom: 0.521vw;
    }

    img {
        width: 80vw;
        border-radius: 20px;
    }
}
