@import "tailwindcss";

.headerCon{
    @media (min-width: 768px) {
        margin: 20px;
        padding: 20px;
    }
}

.container{
    margin: 0 auto;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right{
    list-style: none;
}

.right ul{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    @media (max-width: 767px) {
        flex-direction: column;
    }
}
